// Font import
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Tailwind base
@tailwind base;
@tailwind components;
@tailwind utilities;

// Set default font
@layer base {
    html {
        font-family: "Fira Sans", sans-serif;
    }
    body {
        @apply bg-white;
    }
    b,
    strong {
        font-weight: 700;
    }
}

@mixin scale-fontsize($fontsize, $scale: 0.4) {
    font-size: $fontsize;
    @for $i from length($breakpoints) * -1 through -1 {
        @media (max-width: nth(nth($breakpoints, abs($i)), 2)) {
            font-size: $fontsize * (1 - calc($scale/abs($i)));
        }
    }
}
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1500px,
);
$primary-color: #c09042;
$primary-color--hover: #dfb100;
$secondary-color--hover: hsl(39, 70%, 50%);

$tertiary-color: #000;
$transition-regular: 300ms ease-out;
@import "./sub/old";
@import "./sub/btn";
@import "./sub/swiper-pagination";
@import "./sub/history-slider";
@import "./sub/header";
@import "./sub/footer";
@import "./sub/contact-form";
@import "./sub/map";
@import "./sub/news";
@import "./sub/components/certyficates";
@import "./sub/components/collections";
@import "./sub/components/materials";
@import "./sub/components/one-image";
@import "./sub/components/photos";
@import "./sub/components/slider";
@import "./sub/components/technology";
@import "./sub/components/text-center";
@import "./sub/components/title-banner";
@import "./sub/components/title-txt";
@import "./sub/components/video";
@import "./sub/cites";
@import "./sub/search";

.decor {
    transform: translateY(50px);
    opacity: 0;
    &:not(.faded-out) {
        animation-name: appear;
        animation-duration: 800ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    @for $i from 2 through 6 {
        &:nth-child(#{$i}) {
            $delay: #{120 * ($i - 1)}ms;
            animation-delay: $delay;
        }
    }
}

.faded-out {
    transform: translateY(50px);
    opacity: 0;
}

.standard-heading {
    color: $tertiary-color;
    @include scale-fontsize($fontsize: 23px);
    line-height: 1.6;
    font-weight: 400;
    h3 {
        color: $tertiary-color;
        @include scale-fontsize($fontsize: 23px);
        line-height: 1.6;
        font-weight: 400;
    }
}

.main-heading {
    @include scale-fontsize($fontsize: 40px);
    line-height: 1.2;
    font-weight: 400;
    h1,
    h2 {
        @include scale-fontsize($fontsize: 40px);
        line-height: 1.2;
    }
    &.font-bold {
        font-weight: bold;
    }
}

.standard-text {
    color: $tertiary-color;
    @include scale-fontsize($fontsize: 18px);
    line-height: 2;
    font-weight: 400;
    p {
        color: $tertiary-color;
        @include scale-fontsize($fontsize: 18px);
        line-height: 2;
        font-weight: 400;
    }
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.standard-list {
    li {
        @include scale-fontsize($fontsize: 18px);
        margin-bottom: 0.25rem;
    }
}
.perspective {
    perspective: 1000px;
}
.styled-lists {
    ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: 20px;
    }
    ol {
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: 20px;

        ol {
            list-style-type: lower-alpha;
        }
    }
}

@keyframes appear {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}