.history-slider.swiper {
    // padding-bottom: 16rem;
    .history-pagination.swiper-pagination {
        position: relative;
        align-items: center;
        min-height: 170px;
        @apply mt-40;
        -webkit-overflow-scrolling: touch;
        // flex-wrap: wrap;
        @apply max-xs:overflow-auto;

        .swiper-pagination-bullet {
            flex-shrink: 0;
            width: max-content;
            height: auto;
            background-color: transparent;
            &-active .history-pagination-el{
                transform: rotateZ(180deg) scale(1.3);
            }
            
        }
        .swiper-slide {
            height: unset;
        }
        .history-pagination-el {
            display: block;
            position: relative;
            writing-mode: vertical-lr;
            width: auto;
            height: min-height;
            font-size: 30px;
            padding-top: 36px;
            transform-origin: center;
            transform: rotateZ(180deg);
            transition: transform 300ms;
            

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 1px;
                margin-bottom: 5px;
                height: 30px;
                background-color: #000;
            }
        }
    }
}
